* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}

body {
  background-color: rgb(45, 45, 49);
  display: flex;
  flex-direction: column;
  align-items: center;
  header {
    background-color: rgb(45, 45, 49);
    padding: 10px 0 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #494949;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 1000px;
    div {
      h1.logo {
        color: white;
        a {
          color: white;
          text-decoration: none;
          font-size: 3rem;
          font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        }
      }
    }
    nav {
      ul {
        display: flex;
        flex-direction: row;
        li {
          a {
            color: rgb(95, 131, 252);
            margin: 0 10px;
            text-decoration: none;
          }
          a:hover,
          a:focus {
            padding-bottom: 5px;
            border-bottom: 1px solid rgb(95, 131, 252);
          }
          a.login-logout {
            background-color: rgb(95, 131, 252);
            color: #252525;
            font-weight: 500;
            padding: 3px 7px;
            border-radius: 3px;
          }
          a.login-logout:hover,
          a.login-logout:focus {
            border: none;
            background-color: rgb(72, 102, 201);
          }
        }
      }
    }
  }
  main {
    background-color: rgb(45, 45, 49);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;

    //Homepage-----------------
    div.greetings {
      h1.greet-user {
        margin-top: 5rem;
        color: white;
        font-size: 3rem;
      }
      span.user-span {
        color: yellowgreen;
      }
      p.under-greet {
        color: white;
        font-size: 1.5rem;
        margin-top: 2rem;
      }
      a {
        color: rgb(95, 131, 252);
        text-decoration: none;
      }
    }
    // /homepage---

    table.issues {
      margin: 20px 0;
      color: white;
      border-collapse: collapse;
      th,
      td {
        border: 1px solid #616161;
        padding: 10px;
      }

      th {
        background-color: #494949;
      }
      a {
        color: rgb(95, 131, 252);
        text-decoration: none;
      }
    }

    // showIssuePage--------------------------------------
    a.back-button {
      text-decoration: none;
      align-self: flex-start;
      color: rgb(95, 131, 252);
      background-color: #424242;
      padding: 5px 20px;
      border: 1px solid rgb(95, 131, 252);
      margin-top: 50px;
      margin-left: 10px;
    }
    a.back-button:hover,
    a.back-button:focus {
      background-color: #616161;
    }
    h2.issue-priority {
      align-self: flex-start;
      margin: 40px 10px 0 10px;
      color: white;
      font-weight: 100;
    }
    div.issue-wrapper {
      margin: 10px 10px 10px 10px;
      padding: 10px;
      border: 1px solid #616161;
      p.issue-added-on {
        color: #858585;
        font-style: italic;
        margin-top: 20px;
      }
      h3.issue-title {
        text-align: center;
        color: white;
        font-size: 2rem;
        font-weight: 600;
        margin: 0 0 10px 0;
      }
      p.issue-description {
        color: white;
        font-size: 1.3rem;
        line-height: 1.5;
      }
    }
    form.close-issue-form {
      button.close-issue {
        padding: 10px 20px;
      }
    }
    div.all-comments-section {
      width: 100%;
      margin-top: 5rem;
      div.single-comment-section {
        margin: 10px;
        padding: 10px;
        border: 1px solid #616161;
        border-radius: 20px;
        background-color: #424242;
        p.added-by {
          color: white;
          span.user-span {
            color: yellowgreen;
            font-size: 1.3rem;
            font-style: italic;
          }
        }
        p.added-on {
          color: #858585;
          margin-bottom: 15px;
          border-bottom: 1px solid #494949;
          padding-bottom: 10px;
        }
        p.comment {
          color: white;
          line-height: 1.5;
        }
      }
    }
    div.add-comment-section {
      width: 100%;
      form {
        display: flex;
        flex-direction: column;
        margin: 50px 10px 10px 10px;
        textarea#comment {
          resize: vertical;
        }
        button.submit-comment {
          width: auto;
          padding: 10px 5px;
          margin: 10px 0 0 0;
          width: 100px;
        }
      }
    }
    // ^showissuepage--

    div.alert-danger {
      margin-bottom: -100px;
      margin-top: 100px;
      color: red;
      font-size: 1.3rem;
    }
    form#create-issue {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      color: white;
      width: 600px;

      label {
        display: block;
        margin-top: 10px;
      }

      input[type="text"],
      textarea,
      select {
        width: 600px;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #616161;
        background-color: #858585;
        color: rgb(49, 49, 49);
      }

      select {
        color: rgb(255, 255, 255);
        width: 25%;
      }

      textarea {
        resize: vertical;
      }

      button[type="submit"] {
        width: auto;
        background-color: #b8b8b8;
        color: rgb(0, 0, 0);
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        width: 15%;

        &:hover {
          background-color: #616161;
        }
      }
    }

    //Register -------------------
    div.login-register {
      display: flex;
      flex-direction: column;
      padding-top: 50px;
      div.register {
        width: 600px;
        form.registration-form {
          display: flex;
          flex-direction: column;
          padding-bottom: 50px;
          h2 {
            color: white;
          }
          label {
            color: white;
            padding-top: 10px;
          }
          input {
            font-size: 2rem;
            background-color: #858585;
            border: none;
          }
          button {
            margin-top: 10px;
            padding: 10px 40px;
            width: 25%;
            cursor: pointer;
          }
        }
      }
      div.login {
        form.login-form {
          display: flex;
          flex-direction: column;
          padding-bottom: 50px;
          h2 {
            color: white;
          }
          label {
            color: white;
            padding-top: 10px;
          }
          input {
            font-size: 2rem;
            background-color: #858585;
            border: none;
          }
          button {
            margin-top: 10px;
            padding: 10px 40px;
            width: 25%;
            cursor: pointer;
          }
        }
      }
    }
    // /register ---
  }
}
