* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}

body {
  background-color: rgb(45, 45, 49);
  display: flex;
  flex-direction: column;
  align-items: center;
  header {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 1000px;
    div {
      h1 {
        color: white;
      }
    }
    nav {
      ul {
        display: flex;
        flex-direction: row;
        li {
          a {
            color: rgb(95, 131, 252);
            padding: 0 5px;
            text-decoration: none;
          }
        }
      }
    }
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    table.issues {
      margin: 20px 0;
      color: white;
      border-collapse: collapse;
      th,
      td {
        border: 1px solid #616161;
        padding: 10px;
      }

      th {
        background-color: #494949;
      }
      a {
        color: rgb(95, 131, 252);
        text-decoration: none;
      }
    }
    // showIssuePage
    a.back-button {
      text-decoration: none;
      align-self: flex-start;
      color: rgb(95, 131, 252);
      background-color: #424242;
      padding: 5px 20px;
      border: 1px solid rgb(95, 131, 252);
      margin-top: 50px;
      margin-left: 10px;
    }
    a.back-button:hover,
    a.back-button:focus {
      background-color: #616161;
    }
    h2.issue-priority {
      align-self: flex-start;
      margin: 40px 10px 0 10px;
      color: white;
      font-weight: 100;
    }
    div.issue-wrapper {
      margin: 10px 10px 10px 10px;
      padding: 10px;
      border: 1px solid #616161;
      p.issue-added-on {
        color: #858585;
        font-style: italic;
        margin-top: 20px;
      }
      h3.issue-title {
        text-align: center;
        color: white;
        font-size: 2rem;
        font-weight: 600;
        margin: 0 0 10px 0;
      }
      p.issue-description {
        color: white;
        font-size: 1.3rem;
        line-height: 1.5;
      }
    }
    form.close-issue-form {
      button.close-issue {
        padding: 10px 20px;
      }
    }
    // ^showissuepage
    div.alert-danger {
      margin-bottom: -100px;
      margin-top: 100px;
      color: red;
      font-size: 1.3rem;
    }
    form#create-issue {
      margin-top: 20px;
      color: white;

      label {
        display: block;
        margin-bottom: 5px;
      }

      input[type="text"],
      textarea,
      select {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #616161;
        background-color: #424242;
        color: white;
      }

      textarea {
        resize: vertical;
      }

      button[type="submit"] {
        width: auto;
        background-color: #494949;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;

        &:hover {
          background-color: #616161;
        }
      }
    }
  }
}
